.help-container {
  text-align: center;
}

.header-container {
  margin-bottom: 20px;
}

.help-content {
  margin: 0 auto;
  max-width: 800px;
}

.contact-info,
.faqs {
  margin-bottom: 30px;
}


.contact-info p,
.faq-item p {
  color: black;
}

.faq-item {
  margin-bottom: 20px;
}