.help-container {
  text-align: center;
}

.header-container {
  margin-bottom: 20px;
}

.help-content {
  margin: 0 auto;
  max-width: 800px;
}

.contact-info,
.faqs {
  margin-bottom: 30px;
}


.contact-info p,
.faq-item p {
  color: black;
}

.faq-item {
  margin-bottom: 20px;
}

.home-button {
    background-color: #007bff;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px; /* Spacing from the content above */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

    .home-button:hover {
        background-color: #0056b3; /* Darker blue on hover */
    }